@import "./login.scss";
@import "./homePage.scss";
@import "./table.scss";
@import "./loading.scss";
@import "../../node_modules/video-react/styles/scss/video-react.scss"; // play video
// ~video-react/styles/scss/video-react
.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-wrapper {
  background: #ffffff;
  padding: 20px 20px;
  border-radius: 5px;
}
.opt {
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1{
  margin-top: 1rem;
}
.modal-zoomImage {
  width: 700px !important;
  .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-btn-primary {
    display: none;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-menu {
  .custom-menu-item {
    padding: 0 0;
    .ant-menu-item-selected {
      color: #ffffff !important;
    }
    a {
      padding: 0 0.7rem !important;
    }
  }
}
.right-header {
  background: #001529;
  line-height: 64px;
  color: #ffffff;
}

.dl {
  display: flex;
}
.dl-col {
  display: flex;
  flex-direction: column;
}
.clickable{
  cursor: pointer;
}
.card-landing-custom {
  .ant-card-body {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.ant-menu-item-selected {
  background-color: unset !important;
}

.item-active-custom {
  background-color: #1890ff;
  color: white !important;
  border-left: 5px solid #1774ca;
}

.model-group-switchimage {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  i {
    font-size: 35px;
    color: #1890ff;
    cursor: pointer;
    &:active {
      transform: translateY(6px);
      color: white;
      transition: all 0.5s;
    }
  }
}

.group-notification {
  max-height: 75vh;
  overflow-y: auto;
  min-height: 75vh;
  padding: 1rem 1.5rem;
  background: white;
  border: 1px solid #ebedf0;
  border-radius: 5px;
}


.btnPlay-container{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #272822;
  border-radius: 5px;
  i{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.frame-stream{
  width: 100%;
  padding: 0 10px;
  height: 100%;
}