

// line loading 
.line-loading {
    .loader-line {
      width: 100%;
      height: 3px;
      position: relative;
      overflow: hidden;
      background-color: #ddd;
      margin: 0px auto;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
  
    .loader-line:before {
      content: "";
      position: absolute;
      left: -50%;
      height: 3px;
      width: 40%;
      background-color: #007bff;
      -webkit-animation: lineAnim 1s linear infinite;
      -moz-animation: lineAnim 1s linear infinite;
      animation: lineAnim 1s linear infinite;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
  
    @keyframes lineAnim {
      0% {
        left: -40%;
      }
      50% {
        left: 20%;
        width: 80%;
      }
      100% {
        left: 100%;
        width: 100%;
      }
    }
  }
  
  
  // =========================PageLoading ========================
  //==============================================================
  
  
  .confetti-loading{
   position: fixed;
   z-index: 99999;
   height: 100vh;
   width: 100vw;
   background-color: white;
   .text-loading{
   font-weight: bold;
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 28px;
   }
    .conf-cont{
      position:relative;
      width:100%;
      height:100%;
      overflow:hidden;
    }
    
    .confetti{
      position:absolute;
      width:12px;
      height:12px;
      background-color:#f00;
      opacity:0.0;
      
      animation-name: fallsway;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
        
      @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            z-index: $i;
            animation-name: fallsway#{$i};
            animation-delay: (4 / 20) * $i + s;
            background-color:rgb(random(255),random(255),random(255));
          }
        }
    }
    
    @for $i from 1 through 20 {
      @keyframes fallsway#{$i} {
      0%{
        top:-5%;    
        left:0%+random(95);
        opacity:1.0;
        transform:skew(-30deg);
      }
      25%{
        left:100%-random(105);
        transform:skew(30deg);
      }
      50%{
        left:0%+random(95);
        transform:skew(-30deg);
      }
      75%{
        left:100%-random(105);
        transform:skew(30deg);
      }
      100% {
        top:100%;
        left:0%+random(95);
        opacity:1.0;
        transform:skew(-30deg);
      }
    }  
    }
    
    @keyframes fallsway {
      0%{
        top:-10%;    
        left:0%+random(95);
        opacity:1.0;
      }
      25%{
        left:0%+random(95);
      }
      50%{
        left:0%+random(95);
      }
      75%{
        left:0%+random(95);  
      }
      100% {
        top:110%;
        left:0%+random(95);
        opacity:1.0;
      }
    }
  }
  
  
  //=========================spinner loading==================//@at-root
  //===================================================================
  .page-container-loading{
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.8);
  }
  .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: rgb(0, 171, 240);
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  
  
  // mini loading
  
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height:64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 9px;
    background: #ffffff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 20px;
    }
    50%, 100% {
      top: 19px;
      height: 15px;
    }
  }
  